{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "jest": true
  },
  "globals": {
    "__API_ADDRESS__": true
  },
  "rules": {
    "no-console": [
      "warn",
      {
        "allow": ["warn", "error", "info"]
      }
    ]
  }
}
